Repository bachya/aioambient: changes, and which pre-commit hooks are due for each by the changed paths.
All: blacken-docs, check-ast, check-docstring-first, check-json, check-toml, codespell, debug-statements, format, mypy, pylint, ruff, uv-lock

blacken-docs:
  name: â˜•ï¸ Format documentation using black
  language: system
  entry: uv run blacken-docs
  require_serial: true

check-ast:
  name: ğŸ Checking Python AST
  language: system
  entry: uv run check-ast

check-docstring-first:
  name: â„¹ï¸  Checking docstrings are first
  language: system
  entry: uv run check-docstring-first

check-json:
  name: ï½› Checking JSON files
  language: system
  entry: uv run check-json

check-toml:
  name: âœ… Checking TOML files
  language: system
  entry: uv run check-toml

codespell:
  name: âœ… Checking code for misspellings
  language: system
  entry: uv run codespell

debug-statements:
  name: ğŸªµ Checking for debug statements and imports (Python)
  language: system
  entry: uv run debug-statement-hook

format:
  name: â˜•ï¸ Formatting code using ruff
  language: system
  entry: uv run ruff format

mypy:
  name: ğŸ† Performing static type checking using mypy
  language: system
  entry: uv run mypy

pylint:
  name: ğŸŒŸ Starring code with pylint
  language: system
  entry: uv run pylint

ruff:
  name: ğŸ‘” Enforcing style guide with ruff
  language: system
  entry: uv run ruff check --fix
  require_serial: true

uv-lock:
  name: ğŸ”’ Ensure the uv.lock file is up to date
  language: system
  entry: uv lock --locked
  pass_filenames: false

ci: update Release Drafter to use new labels
  .github/release-drafter.yml
Due: codespell

ci: update Release Drafter to use new labels (#659)
  .github/release-drafter.yml
Due: codespell

feat!: add support for Python 3.13
  .github/workflows/publish.yml
  .github/workflows/test.yml
  pyproject.toml
  uv.lock
Due: check-toml, codespell, uv-lock

update docs
  README.md
Due: blacken-docs, codespell

feat!: add support for Python 3.13 (#660)
  .github/workflows/publish.yml
  .github/workflows/test.yml
  README.md
  pyproject.toml
  uv.lock
Due: blacken-docs, check-toml, codespell, uv-lock

docs: update PR template to be more helpful
  .github/pull_request_template.md
Due: blacken-docs, codespell

verbiage
  .github/pull_request_template.md
Due: blacken-docs, codespell

docs: update PR template to be more helpful (#661)
  .github/pull_request_template.md
Due: blacken-docs, codespell

chore: clean up unnecessary root files
  .DS_Store
  .flake8
Due: codespell

chore: clean up unnecessary root files (#662)
  .DS_Store
  .flake8
Due: codespell

Bump version to 2025.02.0
  pyproject.toml
Due: check-toml, codespell, uv-lock

chore: ensure `pylint` uses lowest supported Python version
  pyproject.toml
Due: check-toml, codespell, uv-lock

ci: ensure that release process updates `uv.lock`
  script/release
  uv.lock
Due: codespell

chore: ensure `pylint` uses lowest supported Python version (#663)
  pyproject.toml
Due: check-toml, codespell, uv-lock

ci: ensure that release process updates `uv.lock` (#664)
  script/release
  uv.lock
Due: codespell

build: streamline how `uv` is installed in `script/setup`
  script/setup
Due: codespell

build: streamline how `uv` is installed in `script/setup` (#665)
  script/setup
Due: codespell

Update license
  LICENSE
Due: codespell

Path conditions:
  blacken-docs: any of: \.(rst|md|markdown|py|tex)$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  codespell: any file but: (?x)^($^
|.*uv\.lock
)$

  debug-statements: any of: \.py$
  format: any of: \.py$
  mypy: any of: \.py$
  pylint: any of: \.py$
  ruff: any of: \.py$
  uv-lock: any of: pyproject.toml$
